upstream django {
    server unix:{{ django_sock }} fail_timeout=5;
}

server {
    server_name _ default;
    listen 80;
    return 444;
}

server {
    server_name {{ app_domain }};
    listen 80;

    client_max_body_size 150M;

    location / {
        {% if django_websocket %}
        proxy_set_header Upgrade $http_upgrade;
        proxy_set_header Connection "upgrade";
        {% endif %}
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-Forwarded-Protocol $scheme;
        proxy_set_header Host $http_host;
        proxy_redirect off;

        if (!-f $request_filename) {
            proxy_pass http://django;
            break;
        }
    }
}
