server {
    server_name _ default;

    listen 80;
    {% if app_use_ssl %}
    listen 443 ssl;
    ssl_certificate /etc/letsencrypt/live/{{ app_domain }}/fullchain.pem;
    ssl_certificate_key /etc/letsencrypt/live/{{ app_domain }}/privkey.pem;
    {% endif %}

    return 444;
}

server {
    server_name {{ app_domain }};

    {% if app_use_ssl %}
    listen 443 ssl;
    ssl_certificate /etc/letsencrypt/live/{{ app_domain }}/fullchain.pem;
    ssl_certificate_key /etc/letsencrypt/live/{{ app_domain }}/privkey.pem;
    {% else %}
    listen 80;
    {% endif %}

    root {{ middleman_path }}/build/;
}

{% if app_use_ssl %}
server {
    server_name {{ app_domain }};
    listen 80;

    location /.well-known/acme-challenge/ {
        proxy_pass http://localhost:8888;
    }

    location / {
        return 301 https://{{ app_domain }}$request_uri;
    }
}
{% endif %}
