version: "3.9"

# Copy this file to docker-compose.yml
# Replace TODO by project short name
# Replace TODO_PROJECT_FOLDER by ips to the containers (e.g. apps/api)
# Replace TODO_BACKEND_FOLDER_NAME by the path to the django project (e.g. ../spp-backend-django)

services:

  amqp:
    build: TODO_PROJECT_FOLDER
    container_name: TODO_amqp

  db:
    build: TODO_PROJECT_FOLDER
    container_name: TODO_db
    entrypoint: bash /entrypoints/always.sh /entrypoints/db.sh

  redis:
    build: TODO_PROJECT_FOLDER
    container_name: TODO_redis

  web:
    build: TODO_PROJECT_FOLDER
    container_name: TODO_web
    entrypoint: bash /entrypoints/always.sh /entrypoints/web.sh
    ports:
      - "8000:8000"
    volumes:
      - ../TODO_BACKEND_FOLDER_NAME:/src
