upstream flower {
    server 127.0.0.1:5555 fail_timeout=5;
}

server {
    server_name _ default;

    listen 80;
    {% if app_use_ssl %}
    listen 443 ssl;
    ssl_certificate /etc/letsencrypt/live/{{ app_worker_monitor_domain }}/fullchain.pem;
    ssl_certificate_key /etc/letsencrypt/live/{{ app_worker_monitor_domain }}/privkey.pem;
    {% endif %}

    return 444;
}

server {
    server_name {{ app_worker_monitor_domain }};

    {% if app_use_ssl %}
    listen 443 ssl;
    ssl_certificate /etc/letsencrypt/live/{{ app_worker_monitor_domain }}/fullchain.pem;
    ssl_certificate_key /etc/letsencrypt/live/{{ app_worker_monitor_domain }}/privkey.pem;
    {% else %}
    listen 80;
    {% endif %}

    location /.well-known/acme-challenge/ {
        proxy_pass http://localhost:8888;
    }

    location / {
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-Forwarded-Protocol $scheme;
        proxy_set_header Host $http_host;
        proxy_redirect off;

        if (!-f $request_filename) {
            proxy_pass http://flower;
            break;
        }
    }
}

{% if app_use_ssl %}
server {
    server_name {{ app_worker_monitor_domain }};
    listen 80;

    location /.well-known/acme-challenge/ {
        proxy_pass http://localhost:8888;
    }

    location / {
        return 301 https://{{ app_worker_monitor_domain }}$request_uri;
    }
}
{% endif %}
