[Unit]
Description=Celery workers
After=network.target

[Service]
EnvironmentFile={{ celery_service_env_file }}
WorkingDirectory={{ celery_dest }}
ExecStart={{ celery_virtualenv }}/bin/celery \
    --app {{ celery_app }} \
    worker \
    --uid {{ celery_user }} \
    --gid {{ celery_group }} \
    {% if celery_queues %}--queues {{ celery_queues }} {% endif %} \
    --concurrency {{ celery_concurrency }} \
    --loglevel {{ celery_log_level }}
Restart=always
RestartSec=500ms

[Install]
WantedBy=multi-user.target
