server {
    server_name _ default;

    listen 80;
    {% if app_use_ssl %}
    listen 443 ssl;
    ssl_certificate /etc/letsencrypt/live/{{ app_domain }}/fullchain.pem;
    ssl_certificate_key /etc/letsencrypt/live/{{ app_domain }}/privkey.pem;
    {% endif %}

    return 444;
}

server {
    server_name {{ app_domain }};

    {% if app_use_ssl %}
    listen 443 ssl;
    ssl_certificate /etc/letsencrypt/live/{{ app_domain }}/fullchain.pem;
    ssl_certificate_key /etc/letsencrypt/live/{{ app_domain }}/privkey.pem;
    {% else %}
    listen 80;
    {% endif %}

    root {{ phpapp_wwwroot }};
    index index.html index.php;

    location / {
        try_files $uri $uri/ /index.php?$args;
    }

    location ~ \.php$ {
        try_files $uri =404;
        include /etc/nginx/fastcgi_params;
        fastcgi_pass    unix:{{ php_fpm_listen }};
        fastcgi_index   index.php;
        fastcgi_param SCRIPT_FILENAME $document_root$fastcgi_script_name;
    }
}

{% if app_use_ssl %}
server {
    server_name {{ app_domain }} www.{{ app_domain }};
    listen 80;

    location / {
        return 301 https://{{ app_domain }}$request_uri;
    }

    location /.well-known/acme-challenge/ {
        proxy_pass http://localhost:8888;
    }
}

server {
    server_name www.{{ app_domain }};
    listen 443 ssl;
    ssl_certificate /etc/letsencrypt/live/{{ app_domain }}/fullchain.pem;
    ssl_certificate_key /etc/letsencrypt/live/{{ app_domain }}/privkey.pem;
    return 301 https://{{ app_domain }}$request_uri;
}
{% else %}
server {
    server_name www.{{ app_domain }};
    listen 80;
    return 301 http://{{ app_domain }}$request_uri;
}
{% endif %}
